body {
    background: #11181d;
    color: rgb(255, 255, 255);
    /* background: linear-gradient(to bottom right, #1b4366, #011220); */
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.heading {
    text-align: center;
    margin: 20px;
}

h1>span {
    color: #4bffab;
    border-bottom: solid 2px #00ffd5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 10px;
    /* background-color: rgb(25, 42, 78); */
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: #181f24;
    padding: 50px 50px 10px 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.spcharcontainer,.includeNumbersContainer,.includeUpperCaseContainer,.customLengthContainer  {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #2a333a;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    width: auto;
    height: auto;
    /* border: solid 1px #4bffab; */
}

.spcharcontainer>input,.includeNumbersContainer>input,.includeUpperCaseContainer>input,.customLengthContainer>input  {
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    border: 1px solid #4bffab;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	border-radius: 3px;
}

#lengthslider {
    accent-color: #4bffab;
}


.spcharcontainer>input:checked,
.includeNumbersContainer>input:checked,
.includeUpperCaseContainer>input:checked,
.customLengthContainer>input:checked  {
    background-color: #4bffab;
	border: 1px solid #ffffff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: white;
    content: '✔';
}

.spcharcontainer>input:active,
.includeNumbersContainer>input:active,
.includeUpperCaseContainer>input:active,
.customLengthContainer>input:active,
.spcharcontainer>input:checked:active,
.includeNumbersContainer>input:checked:active,
.includeUpperCaseContainer>input:checked:active,
.customLengthContainer>input:checked:active  {
    background-color: #4bffab;
	border: 1px solid #247e54;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: white;
}

.spcharcontainer>input:checked::after,
.includeNumbersContainer>input:checked::after,
.includeUpperCaseContainer>input:checked::after,
.customLengthContainer>input:checked::after {
    content: '✔';
    font-size: 25px;
    line-height: 0.8;
    color: white;
    transition: all .2s;
}

.customLengthContainer {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* background: #051829; */
    margin: 5px;
    border-radius: 5px;
    width: auto;
    height: auto;
    /* border: solid 1px #4bffab; */
}

.lengthvaluedisplay {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    /* background: #051829; */
    border-radius: 5px;
    /* border: solid 1px #4bffab; */
}

.quantityOfPasswordsContainer {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    background: #2a333a;
    /* border: solid 1px #4bffab; */
    border-radius: 5px;
}

textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.generateBtn {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: #143346; */
    border-radius: 10px;
    border: solid 1px #00ffd5;
    background: linear-gradient(to left,#00fdd3,  #63ff9f);
}

.generateBtn:hover {
    scale: 1.01;
}

.copyiconContainer {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px #4bffab;
}

.copyiconContainer:hover {
    scale: 1.01;
}

.quantityOfPasswordsContainer>select{
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    border: none;
}

.quantityOfPasswordsContainer>select>option{
    padding: 10px;
    height: 30px;
    border-bottom: solid 1px #b6b5b5;
}

.Settings {
    margin: 20px 0px 0px 0px;
    color: #9ca4aa;
}

@media (max-width: 350px) {

    .container, .container2, .copyiconContainer,.customLengthContainer,.generateBtn,.includeNumbersContainer,.includeUpperCaseContainer,.lengthvaluedisplay,.quantityOfPasswordsContainer,.spcharcontainer{
        flex-wrap: nowrap;
    }

  }

  @media (max-width: 390px) {
    .generateBtn {
        font-weight: 900;
        font-size: x-small;
    }

    .container2 {
        padding: 10px 10px 10px 10px;
    }

  }